/* body */
body{
    background-color: #1a1a1a;
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* div */
    .card{
        width: 300px;
        background-color: #d5d4d4;
        border-radius: 8px;
        padding: 30px;
    }

    /* h2 */
    h2{
        color: #1a50a0;
        text-align: center;
        margin-bottom: 20px;
    }

    /* form */
    form{
        display: flex;
        flex-direction: column;  
    }
    
    /* input */
    input{
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid black;
        background-color: #d8d8d8;
    }

    /* button */
    button{
        background-color: #1b81da;
        color: white;
        padding: 10px;
        border-radius: 8px;    
    }

    /* button:hover */
    button:hover{
        background-color: #0741ac;
    }