/* body */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* position: absolute; */
    background-color: #1a1a1a;
    color: white;
}

/* nav-container */
.nav-container{
    margin-bottom: 40px;
    
}

/* h2 */
h2{
    margin-bottom: 10px;
}

/* nav1 */
.nav1{
    background-color: #4b4d4f;
    padding: 10px;
}

/* nav1 ul */
.nav1 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;

}

/* nav1 li */
.nav1 li{
    display: inline;
}

/* nav1 a */

.nav1 a{
    margin: 0;
    color: white;
    text-decoration: none;
    background-color: #985d0b;
    /* margin: 5px; */
    padding: 5px 15px;
    border-radius: 5px;
}

/* nav1 a:hover */
.nav1 a:hover{
    border: 2px solid #ffffff;
}

/* button */
.nav1 .login-btn{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    background-color: #136bddd3;
    margin: 0;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

/* button:hover  */
.nav1 .login-btn:hover{
    border: 2px solid #ffffff;
}


/*  */
/* 
.nav1 a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #0a65c7;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;

}

.nav1 a:hover::after{
    transform: scaleX(1);
} */





/* nav2 */
.nav2{
    background-color: #343a40;
    width: 200px;
    padding: 20px;
}

/* nav2 ul */
.nav2 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* .nav2 li */
.nav2 li{
    margin-bottom: 10px;
}

/* decident */
/* .nav2 a */
.nav2 a{
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 10px;
    width: 100%;
}

/* .nav2 a:hover */
.nav2 a:hover{
    background-color: #09230a;
    border-radius: 5px;
    /* border: 2px solid #ffffff; */
}

/* .nav2 .login-btn */
.nav2 .login-btn{
    background-color: #2c2e30;
    color: #ffffff;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* .nav2 .login-btn:hover */
.nav2 .login-btn:hover{
    background-color: #09230a;
    border-radius: 5px;
    /* border: 2px solid #ffffff; */
}








/* nav3 */
.nav3{
    background-color: #38858bec;
    padding: 10px;
    /* box-sizing: border-box; */
}

/* nav3 ul */
.nav3 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* nav3 a */
.nav3 a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    display: block;
}

/* .nav3 .dropdown-content */
.nav3 .dropdown-content{
    display: none;
}

/* .nav3 .dropdown:hover .dropdown-content */
.nav3 .dropdown:hover .dropdown-content{
    display: block;
    position: absolute;
    background-color: #212a2bec;
    min-width: 50px;
}